*.egg-info
data
.vscode
*__pycaches__
*.pyc
*ipynb_checkpoints
explore
*logs*
output
*.ckpt
archive*
*.backup
scripts/makebashfrommd.py
scripts/Compare_models
scripts/Analyze_model/Analysis_pipeline.ipynb
